
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown > img {
    height: 6em;
    width: 6em;
    outline: 2px solid var(--border);
    outline-offset: -1px;
    /* outline- */
    /* border: solid; */
    /* border-color: var(--border); */
    /* border-width: 2px; */
    /* border-radius: 0.5em; */
    cursor: pointer;
    margin-right: 8px;
}

.dropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    background-color: var(--dark);
    border: solid;
    border-color: orange;
    border-width: 1px;
    border-radius: 0.5em;
    z-index: 99;
    padding: 0.2em;
    width: 400px;
    /* height: 400px; */
}

.dropdown.active .dropdown-content {
    display: block;
    /* overflow: scroll; */
}

.dropdown-content img {
    margin: 2px;
    height: 5em;
    width: 5em;
    border-radius: 0.3em;
}

.dropdown-content img.disabled {
    outline: 2.5em solid rgba(0, 0, 0, 0.5);
    outline-offset: -2.5em;
    cursor: default;
}

.dropdown-content img.disabled:hover {
    cursor: default;
}

.dropdown-content div {
    padding-bottom: 0.15em;
    padding-top: 0.15em;
    border-top: 1px solid var(--medium);
}

.dropdown-content img:hover {
    background-color: var(--light);
    cursor: pointer;
}

.dropdown > span {
    position: absolute;
    /* z-index: 9999; */
    top: 0;
    left: 0;
    /* right: 0; */
    /* bottom: 0; */
    user-select: none;
    margin-left: 5.3em;
    margin-top: 4.8em;
}